<!-- views/delete-user.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Delete User</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <div class="container">
    <h1>Delete User</h1>
    <form action="/users/delete" method="post">
      <label for="usernameToDelete">Enter Name to Delete:</label>
      <input type="text" id="usernameToDelete" name="name" required>
      <button type="submit">Delete User</button>
    </form>
    <a href="/users">Go back to User List</a>
  </div>
</body>
</html>